<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/pearForm.css}"/>

    <style type="text/css">
        body {
            background-color: #F2F2F2;
        }
    </style>
</head>
<body>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <tbody>
    <tr>
        <td>Project Name</td>
        <td th:text="${project.name}"></td>
    </tr>
    <tr>
        <td>Project Description</td>
        <td th:text="${project.desc}"></td>
    </tr>
    
    <tr>
        <td>Project CreateTime</td>
        <td th:text="${#dates.format(project.desc, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>