<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>API列表</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/pear-tree/dtree.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/pear-tree/font/dtreefont.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        .dtree-nav-div cite {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row" id="apiTreeDiv">
        <ul id="apiTree" class="dtree" data-id="0"></ul>
    </div>
</div>

<input type="hidden" th:value="${clientId}" id="clientId">
<input type="hidden" th:value="${ap}" id="ap">
<input type="hidden" th:value="${projectId}" id="projectId">

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/admin/js/jquery.js}"></script>
<script>
    var clientId = $("#clientId").val();
    var ap = $("#ap").val();
    var projectId = $("#projectId").val();

    var layuiTree = null;
    var DTree = null;

    layui.use(['tree', 'dtree'], function () {
        var tree = layui.tree;

        layuiTree = tree;
        var dtree = layui.dtree;

        var treeIns = dtree.render({
            elem: "#apiTree",
            url: "/restdoc/devapp/" + clientId + '/api/list?at=' + ap+'&projectId='+projectId,
            dataFormat: "list",
            width: '100%',
            scroll: "#apiTreeDiv",
            initLevel: 1,
            ficon: ["1", "-1"],
            skin: "zdy",
            iconfontStyle: {
                fnode: {
                    node: {
                        open: "dtree-icon-xiangxia1",
                        close: "dtree-icon-xiangyou"
                    }
                }
            },
            checkbar: true,
            checkbarLoad:'node',
            checkbarType:' no-all',
        });

        dtree.on("node('apiTree')", function (obj) {
            if (!obj.param.leaf) {
                treeIns.clickSpread(obj.dom);
            }
        });
        DTree = dtree;
    });

    function getCheckedApi() {
        var checkbarNodes = DTree.getCheckbarNodesParam("apiTree");
        return checkbarNodes;
    }

    function getCheckApi() {
        var apiList = layuiTree.getChecked('apiListTree');
        var res = [];
        for (var i = 0; i < apiList.length; i++) {
            var api = apiList[i];
            if (api.children != null && api.children.length > 0) {
                for (var j = 0; j < api.children.length; j++) {
                    var doc = api.children[j];
                    res.push(doc.id);
                }
            }
        }
        return res;
    }

</script>
</body>
</html>