
table{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

ul{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

ol{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}