<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目列表</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/css/pearForm.css}"/>

    <style type="text/css">

        .project-item :hover {
            /*background: #5FB878;*/
            cursor: pointer;
        }



        body {
            /*margin: 10px;*/
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }

        .layui-card-body {
            border: solid 2px #c2c2c2;
            border-top: none;
        }

        .layui-card-header {
            font-size: 18px;
            background-color: #009688;
            color: white;
            font-family: Roboto,serif;
        }
    </style>
</head>
<body>
<div th:include="nav::nav"></div>
<div class="layui-container" style="margin-top: 10px;">
    <div class="layui-row">
        <div class="layui-row layui-col-space20 layui-col-md-offset3">
            <div class="layui-col-md2">
                <a th:href="@{/project/view/add}" class="layui-btn">创建RestApiDoc项目</a>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space20" id="content">
    </div>


    <div class="layui-row layui-col-space10">
        <div class="layui-inline">
            <button class="layui-btn layui-btn-primary" id="previousBtn">上一页</button>
        </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-primary" id="nextBtn">下一页</button>
        </div>
    </div>

</div>

<input type="hidden" id="page" value="0">
<input type="hidden" id="size" value="12">
<input type="hidden" id="totalElements" value="0">

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/admin/js/jquery.js}"></script>
<script th:src="@{/admin/js/util.js}"></script>
<script type="text/javascript" th:inline="javascript">

    function init() {
        $("#previousBtn").attr('disabled', true);
        requestAndRenderContent();
    }

    init();


    $("#previousBtn").click(function () {
        if (parseInt($('#page').val()) === 0) {
            $("#previousBtn").attr('disabled', true);
            return;
        }
        var page = parseInt($("#page").val());
        $("#page").val(page - 1);
        requestAndRenderContent();
    });

    $("#nextBtn").click(function () {
        var page = (parseInt($('#page').val()));
        var size = (parseInt($('#size').val()));
        var totalElements = parseInt($('#totalElements').val());
        var hasNext = (((page + 1) * size) < totalElements);

        console.info((page + 1) * size);
        console.info(hasNext)

        if (!hasNext) {
            $("#nextBtn").attr('disabled', true);
            return;
        }

        var page = parseInt($("#page").val());
        $("#page").val(page + 1);

        requestAndRenderContent();
    });

    function requestAndRenderContent() {

        var page = (parseInt($('#page').val()));
        var size = (parseInt($('#size').val()));

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: '/restdoc/project/list?page=' + page + '&size=' + size,
            async: false,
            success: function (data) {
                if (data.code === "200") {
                    renderProjectContent(data['data']['content']);
                    $('#totalElements').val(data['data']['totalElements']);
                } else {
                    alert(data.message)
                }
            }
        });

        afterRenderCallback()
    }

    function afterRenderCallback() {
        var page = (parseInt($('#page').val()));
        var size = (parseInt($('#size').val()));

        var totalElements = (parseInt($('#totalElements').val()));

        console.info(page)
        console.info(size)
        console.info(totalElements)

        var hasNext = (((page + 1) * size) < totalElements);
        var hasPrevious = (page > 0);

        if (hasNext && hasPrevious) {
            $("#previousBtn").attr('disabled', false);
            $("#nextBtn").attr('disabled', false);
        } else if (hasNext && !hasPrevious) {
            $("#previousBtn").attr('disabled', true);
            $("#nextBtn").attr('disabled', false);
        } else if (hasPrevious && !hasNext) {
            $("#nextBtn").attr('disabled', true);
            $("#previousBtn").attr('disabled', false);
        } else {
            $("#nextBtn").attr('disabled', true);
            $("#previousBtn").attr('disabled', true);
        }
    }

    function renderProjectContent(content) {
        var html = "";
        for (var key in content) {

            var name = content[key].name;
            var desc = content[key].desc;
            var projectId = content[key].id;
            projectId = projectId.toString();

            if (desc == null) desc = "";
            var snippet = "        <div id='" + projectId + "' ondblclick='clickProject(this)' class=\"layui-col-md3 project-item \">\n" +
                "            <div class=\"layui-card project-block\">\n" +
                "                <div class=\"layui-card-header\">" + name + "</div>\n" +
                "                <div class=\"layui-card-body\">\n" +
                "                    " + desc + "<br><br>\n" +
                "        <label style='margin-left: 90%'> <a href='/restdoc/" + projectId + "/document/nav/view'><i class=\"layui-icon layui-icon-next\" style=\"font-size: 22px; color: #1E9FFF;\"></i></a>  \n</label>        </div>\n" +
                "            </div>\n" +
                "        </div>";

            html = html + snippet;
        }

        $('#content').html(html)
    }


    var lay;
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        lay = layui.layer;

    });

    function clickProject(obj) {
        var id = obj.id;
        lay.open({
            title: 'Project Detail',
            area: ['800px', '500px'],
            scrollbar: false,
            type: 2,
            content: '/restdoc/project/' + id + '/view'
        });
    }

    $("#projectNav").addClass("layui-this")

</script>
</body>
</html>