<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/materialize/css/materialize.min.css}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewportcontent=" width=device-width, initial-scale=1.0"/>

    <meta http-equiv="Content-Type" content="text/html" charset=utf-8"/>
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="input-field col s2">
        <input placeholder="参数路径" name="field_name" type="text" class="validate">
        <label class="active">参数路径</label>
    </div>
    <div class="input-field col s2">
        <div class="select-wrapper">
            <input class="select-dropdown dropdown-trigger" type="text" readonly="true" data-target="select-options-e24426e9-05b1-5962-2eef-fd17c35ffe96">
            <ul id="select-options-e24426e9-05b1-5962-2eef-fd17c35ffe96" class="dropdown-content select-dropdown" tabindex="0"><li id="select-options-e24426e9-05b1-5962-2eef-fd17c35ffe960" tabindex="0" class="selected"><span>Object</span></li><li id="select-options-e24426e9-05b1-5962-2eef-fd17c35ffe961" tabindex="0"><span>String</span></li><li id="select-options-e24426e9-05b1-5962-2eef-fd17c35ffe962" tabindex="0"><span>Boolean</span></li><li id="select-options-e24426e9-05b1-5962-2eef-fd17c35ffe963" tabindex="0"><span>Number</span></li></ul><svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg><select tabindex="-1">
            <option value="OBJECT">Object</option>
            <option value="STRING">String</option>
            <option value="BOOLEAN">Boolean</option>
            <option value="NUMBER">Number</option>
        </select></div>
        <label>参数类型</label>
    </div>
    "
    <div class="input-field col s2">
        <input placeholder="参数描述" name="field_desc" type="text" class="validate">
        <label class="active">参数描述</label>
    </div>
    <div class="input-field col s2">
        <input placeholder="默认值" name="defaultValue" type="text" class="validate">
        <label class="active">默认值</label>
    </div>
    <div class="input-field col s2">
        <div class="select-wrapper"><input class="select-dropdown dropdown-trigger" type="text" readonly="true" data-target="select-options-79f06ede-5768-a1ac-d56e-e9aa58ee9466"><ul id="select-options-79f06ede-5768-a1ac-d56e-e9aa58ee9466" class="dropdown-content select-dropdown" tabindex="0"><li id="select-options-79f06ede-5768-a1ac-d56e-e9aa58ee94660" tabindex="0" class="selected"><span>是否可选</span></li><li id="select-options-79f06ede-5768-a1ac-d56e-e9aa58ee94661" tabindex="0"><span>是</span></li><li id="select-options-79f06ede-5768-a1ac-d56e-e9aa58ee94662" tabindex="0"><span>否</span></li></ul><svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg><select tabindex="-1">
            <option value="disabled selected">是否可选</option>
            <option value="true">是</option>
            <option value="false">否</option>
        </select></div>
        <label>参数类型</label>
    </div>

    <div class="input-field col s2">
        <a onclick="append()" class="btn-floating btn-small waves-effect waves-light blue">
            <i class="material-icons">add</i>
            <div class="waves-ripple " data-hold="1596033046102" data-scale="scale(3.3000000000000003)" data-x="25.109375" data-y="9" style="top:9px;left:25.109375px;-webkit-transform:scale(3.3000000000000003);-moz-transform:scale(3.3000000000000003);-ms-transform:scale(3.3000000000000003);-o-transform:scale(3.3000000000000003);transform:scale(3.3000000000000003);opacity:1;-webkit-transition-duration:750ms;-moz-transition-duration:750ms;-o-transition-duration:750ms;transition-duration:750ms;-webkit-transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940);-moz-transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940);-o-transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940);transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940);"></div></a>
    </div>
</div>

<div class="row">
    <div class="input-field col s2">
        <input placeholder="参数路径" name="field_name" type="text" class="validate">
        <label>参数路径</label>
    </div>
    <div class="input-field col s2">
        <select>
            <option value="OBJECT">Object</option>
            <option value="STRING">String</option>
            <option value="BOOLEAN">Boolean</option>
            <option value="NUMBER">Number</option>
        </select>
        <label>参数类型</label>
    </div>
    "
    <div class="input-field col s2">
        <input placeholder="参数描述" name="field_desc" type="text" class="validate">
        <label>参数描述</label>
    </div>
    <div class="input-field col s2">
        <input placeholder="默认值" name="defaultValue" type="text" class="validate">
        <label>默认值</label>
    </div>
    <div class="input-field col s2">
        <select>
            <option value="disabled selected">是否可选</option>
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
        <label>参数类型</label>
    </div>

    <div class="input-field col s2">
        <a onclick="append()" class="btn-floating btn-small waves-effect waves-light blue">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" th:src="@{/materialize/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/materialize/js/jquery.js}"></script>
</body>
</html>