<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文档中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/css/fangge-style.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/doc-common.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/pear-tree/dtree.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/pear-tree/font/dtreefont.css}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css"
          integrity="sha512-jN4O0AUkRmE6Jwc8la2I5iBmS+tCDcfUd1eq8nrZIBnDKTmCp5YxxNN1/aetnAH32qT+dDbk1aGhhoaw5cJNlw=="
          crossorigin="anonymous"/>
    <script th:src="@{/admin/js/jquery.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/jquery.overlayScrollbars.min.js"
            integrity="sha512-3Ofi0j25Ar6Hyqk2sdvfuoVCvvN6nE6Dh/eoMc8RQ/bnCvO8wpE+M5KyJz6T08T7pl/x82I/3Y5Amz9n3T9Esw=="
            crossorigin="anonymous"></script>
    <script type="application/ld+json">

        {
            "@context": "http://schema.org",
            "@type": "SoftwareSourceCode",
            "url": "https://kingsora.github.io/OverlayScrollbars",
            "name": "Overlay Scrollbars",
            "description": "A javascript scrollbar plugin which hides the native scrollbars and provides custom styleable overlay scrollbars, but keeps the native functionality and feeling.",
            "disambiguatingDescription": "javascript overlay scrollbars plugin",
            "license": "https://en.wikipedia.org/wiki/MIT_License",
            "keywords": "js,javascript,OverlayScrollbars,overlay,scrollbars,custom,scrollbar,plugin,jquery,scrollbars,polyfill",
            "isAccessibleForFree": true,
            "image": "https://kingsora.github.io/OverlayScrollbars/img/logo.png",
            "codeRepository": "https://github.com/KingSora/OverlayScrollbars",
            "programmingLanguage": {
                "@type": "ComputerLanguage",
                "name": "javascript",
                "alternateName": "js"
            }
        }

    </script>
    <link href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.js"></script>

</head>
<body class="layui-layout-body"  >
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-bg-black" id="navigation" lay-filter="test">
            <li class="layui-nav-item">
                <a href="/restdoc/project/view"> <i class="layui-icon layui-icon-return"
                                                    style="font-size: 17px;  color: white;"></i>&nbsp;</a>
            </li>
            <li class="layui-nav-item layui-this"><a id="home" th:href="@{'/'+${projectId}+'/document/nav/view'}">文档</a>
            </li>
            <li class="layui-nav-item"><a id="clientServiceList" href="javascript:;">服务实例
                <span class="layui-badge-dot" th:if="${hasInstance}"></span>
            </a>
            </li>
            <li class="layui-nav-item"><a id="projectSettings" href="javascript:;">设置
            </a>
            </li>
        </ul>
    </div>

    <div class="layui-body" style="left: 50px" id="apiDocDiv">
        <div class="layui-fluid">
            <iframe src="" id="docContentFrame" frameborder="0" height="1000px" style="width: 100%; "
                    onload="window.osiFrame = OverlayScrollbars(document.getElementById('docContentFrame').contentWindow.document.body, { autoUpdate : false, resize: 'both' })"
            >
            </iframe>
        </div>
    </div>

</div>


<input type="hidden" id="projectId" th:value="${projectId}">

<script th:src="@{/layui/layui.js}"></script>

<script th:src="@{/admin/js/util.js}"></script>
<script th:src="@{/admin/js/api_navigation.js}"></script>
<script>
    NProgress.configure({ easing: 'ease', speed: 300 });

    $("body").show();
    NProgress.start();
    setTimeout(function () {
        NProgress.done();
        $(".fade").removeClass("out");
    }, 1000);

</script>
<script>


    $('#apiDocDiv').overlayScrollbars({ /* your options */ });
    layui.config({
        base: '/restdoc/layui/lay/extends/'
    }).use([
        'util',
        'layer',
        'element',
        'jquery',
        'tree'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var element = layui.element;
        var projectId = $("#projectId").val();

        $("#docContentFrame").attr("src", "/restdoc/project/" + projectId + "/navigation/view");
        element.on('nav(test)', function (elem) {
            if ('clientServiceList' === elem[0].id) {
                layer.closeAll();
                $("#docContentFrame").attr("src", '/restdoc/microservice/view/list?ap=REST_WEB&projectId=' + projectId);
                // setIframeHeight("docContentFrame");
            } else if ('projectSettings' === elem[0].id) {
                $("#docContentFrame").attr("src", '/restdoc/project/' + projectId + '/settings/view');
                // setIframeHeight("docContentFrame");
            }
        });
    });
    $('#restweb-project-nav').addClass("layui-this");
</script>
</body>
</html>